<md-dialog aria-label="Mango (Fruit)">
    <md-dialog-content layot="row">

        <h2>{{:: modoAlteracao ? 'Alterar' : 'Novo' }} Tamanho</h2>

        <form name="tamanhoForm" novalidate="true">
            <md-input-container>
                <label>Código</label>
                <input name="codigo" ng-model="entidade.codigo" required maxlength=255>

                <div ng-messages="tamanhoForm.codigo.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Sigla</label>
                <input name="sigla" ng-model="entidade.sigla" required maxlength=255>

                <div ng-messages="tamanhoForm.sigla.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label>Nome</label>
                <input name="nome" ng-model="entidade.nome" required maxlength=255>

                <div ng-messages="tamanhoForm.nome.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>
            <br>

            <div class="md-actions" layout="row">
                <md-button ng-click="cancelar()">
                    Cancelar
                </md-button>
                <md-button ng-click="salvar()" class="md-primary">
                    Salvar
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>