<md-dialog aria-label="Forma de pagamento">
    <md-toolbar>

        <div class="md-toolbar-tools">
            <h2>{{:: modoAlteracao ? 'Alterar' : 'Nova' }} Forma de Pagamento</h2>
        </div>

    </md-toolbar>
    <md-dialog-content layot="row">
        <form name="formaPagamentoForm" novalidate="true">
            <md-input-container>
                <label>Código</label>
                <input name="codigo" ng-model="entidade.codigo" required maxlength=255>

                <div ng-messages="formaPagamentoForm.tipo.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Forma de pagamento</label>
                <input name="tipo" ng-model="entidade.tipo" required maxlength=255>

                <div ng-messages="formaPagamentoForm.tipo.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>
            <br>

            <div class="md-actions" layout="row">
                <md-button ng-click="cancelar()">
                    Cancelar
                </md-button>
                <md-button ng-click="salvar()" class="md-primary">
                    Salvar
                </md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>