<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{:: modoAlteracao ? 'Alterar' : 'Novo' }} País</h2>
        </div>
    </md-toolbar>
    <md-dialog-content layot="row">
        <form name="paisForm" novalidate="true">
            <md-input-container>
                <label>País</label>
                <input name="nome" ng-model="entidade.nome" required maxlength=255>

                <div ng-messages="paisForm.nome.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>
            <br>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="cancelar()">
            Cancelar
        </md-button>
        <md-button ng-click="salvar()" class="md-primary">
            Salvar
        </md-button>
    </div>
</md-dialog>