<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar layout="row" layout-align="center center">
        <div class="md-toolbar-tools">
            <h4>{{:: modoAlteracao ? 'Alterar' : 'Nova' }} Cor</h4>
        </div>
    </md-toolbar>
    <md-dialog-content layot="row">
        <form name="corForm" novalidate="true">
            <md-input-container>
                <label>Código</label>
                <input name="codigo" ng-model="entidade.codigo" required maxlength=255>

                <div ng-messages="corForm.codigo.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Nome</label>
                <input name="nome" ng-model="entidade.nome" required maxlength=255>

                <div ng-messages="corForm.nome.$error">
                    <div ng-message="required">
                        Campo obrigatório.
                    </div>
                </div>
            </md-input-container>
        </form>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="cancelar()">
            Cancelar
        </md-button>
        <md-button ng-click="salvar()" class="md-primary">
            Salvar
        </md-button>
    </div>
</md-dialog>