<md-dialog aria-label="Buscar condições">
    <md-dialog-content layot="row" ng-init="listCondicoes()">

        <md-data-table-container>
            <table md-data-table>
                <thead md-trim-column-names>
                <tr>
                    <th order-by="id">Descrição</th>
                    <th order-by="nome">Parcela</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="condicao in model.content | orderBy: model.query.order">
                    <td>{{::condicao.descricao}}</td>
                    <td><span ng-repeat="parcela in condicao.parcelas">{{parcela.percentual}} </span></td>
                    <td>
                        <md-button ng-click="escolherCondicao(condicao)" class="md-primary">
                            Escolher
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>
        <md-button ng-click="cancelar()">Cancelar</md-button>

    </md-dialog-content>
</md-dialog>