<md-dialog aria-label="Mango (Fruit)" ng-init="listFornecedoresByFilters()">

    <md-toolbar layout="row" layout-align="center center">
        <div class="md-toolbar-tools">
            <h4>{{:: model.transportadoraFlag == true ? 'Transportadora' : 'Fornecedor' }}</h4>
        </div>
        <md-button ng-click="abrirPopupCadastrar()" class="md-icon-button md-raised">
            <i class="md-icon md-icon-add"></i>
        </md-button>
    </md-toolbar>

    <md-dialog-content layot="row">

        <md-content layout="row" layout-align="center center" layout-wrap>
            <md-input-container flex="50">
                <label>Razão Social</label>
                <input type="text" ng-model="model.filtros.razaoSocial">
            </md-input-container>
            <md-input-container flex="50">
                <label>Nome Fantasia</label>
                <input type="text" ng-model="model.filtros.nomeFantasia">
            </md-input-container>
            <md-input-container flex="33">
                <label>Telefone</label>
                <input type="text" ng-model="model.filtros.telefone">
            </md-input-container>
            <md-input-container flex="33">
                <label>CNPJ</label>
                <input type="text" ng-model="model.filtros.cnpj">
            </md-input-container>
        </md-content>
        <md-button ng-click="listFornecedoresByFilters()" class="md-icon-button">
            <i class="md-icon md-icon-search"></i>
        </md-button>
        <md-divider/>
        <md-data-table-container>
            <table md-data-table>
                <thead md-order="model.query.order" md-trim-column-names>
                <tr>
                    <th order-by="id">Código</th>
                    <th order-by="razaoSocial">Razão Social</th>
                    <th order-by="nomeFantasia">Nome Fantasia</th>
                    <th order-by="cnpj">CNPJ</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="fornecedor in model.content | orderBy: model.query.order">
                    <td>{{::fornecedor.codigo}}</td>
                    <td>{{::fornecedor.razaoSocial}}</td>
                    <td>{{::fornecedor.nomeFantasia}}</td>
                    <td>{{::fornecedor.cnpj}}</td>
                    <td>
                        <md-button ng-click="escolherFornecedor(fornecedor)" class="md-primary">
                            Escolher
                        </md-button>
                        <md-button ng-click="abrirPopupCadastrar(fornecedor)" class="md-primary">
                            Exibir
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-data-table-container>

    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="cancelar()" md-autofocus>Cancelar</md-button>
    </div>
</md-dialog>